/.config/StardewValley/
/.config/gh/
/.config/jgit/
/.config/asciinema/
/.config/iterm2/
/.config/configstore/
/.config/btop/
/.config/ytmdl/
/.config/nvim/lazy-lock.json

**/.DS_Store/
/.DS_Store/
.DS_Store
